#profile-wrapper {
   background-color: #4b545f;
   padding: 2em 0;
}
#profile-info-wrapper {
   padding: 2em 2em;
}
#profile-pic-wrapper {

}
#profile-pic {
   width:70%;
}
.card-body {
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   padding: 1em;
 }
   .card-body .row {
      margin-left: 0;
      margin-right: 0;
   }
   .card-body .form-group {
      margin-bottom: 0;
   }
.card-footer {
   font-size: .8em;
}
.form-row, .form-group {
   padding: 1em;
}
.login_btn, .register_btn{
   color: #495057;
   background-color: rgba(0,0,0,.03);
   border: 1px solid #ced4da;
   border-radius: .25rem;
   width: 100px;
}